


#container {
	border: 1px solid black;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -400px;
	margin-left: -400px;
	background: #939393;
	box-shadow: 0px 0px 50px black;
	-webkit-touch-callout: none; 
	-webkit-user-select: none;  
	-khtml-user-select: none;    
	-moz-user-select: none;      
	-ms-user-select: none;       
	user-select: none;
	font-family: Orbitron;
	cursor: default;
}

#top {
	border: 1px solid black;
	box-shadow: 0px 0px 10px black;
	position: absolute;
	height: 100px;
	left: 25px;
	top: 25px;
	background: #C7C7C7;
}

#options {
	transition: all 0.2s ease-in-out;
	background: #797979;
	border: 1px solid black;
	box-shadow: 0px 0px 10px black;
	position: absolute;
	height: 500px;
	width: 750px;
	left: 50%;
	margin-left: -375px;
	top: 150px;
	z-index: 150;
	opacity: 0;
	font-weight: bold;
	font-size: 30px;
}

#xnum, #ynum,#nmine{
	font-weight: normal;
	
}


#game{
	background: #797979;
	border: 1px solid black;
	box-shadow: 0px 0px 10px black;
	position: absolute;
	left: 50%;
	top: 150px;
}
#bombs {
	position: absolute;
	font-size: 50px;
	padding: 10px;
	top: 7px;
	left: 10px;
	box-shadow: 0px 0px 5px red;
	border: 1px solid white;
	color: red;
	width: 150px;
	background: black;
	text-align: center;
}
#op {
	left:28%;
	padding:0px;
}


#ng {
	left: 50%;
	width: 210px;
	margin-left: -105px;
	padding: 10px;
}
button {
	font-family: Orbitron;
	background: black;
	position: absolute;
	top: 20px;
	height: 60px;
	cursor: pointer;
	color: red;
	font-size: 30px;
	outline: none;
	box-shadow: 0px 0px 5px red;
	border: 1px solid white;
	transition: all 0.1s ease-in-out;
}

button:hover{
	color: white;
	transform: scale(1.1);
}

button:active{
	transform: scale(1);
}
#timer{
	width: 125px;
	position: absolute;
	border: 1px solid white;
	box-shadow: 0px 0px 5px red;
	font-size: 50px;
	padding: 10px;
	right: 10px;
	top: 7px;
	color: red;
	background: black;
	text-align: center;
}



.case {
	position:absolute;
	background: #797979;
	height: 25px;
	width: 25px;
	line-height:25px;
	border: 1px solid #3B3B3B;
	box-shadow: 2px 2px 5px black;
	transition: all 0.2s ease-in-out;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	z-index: 100;
	
}

.case:active{
	transform: scale(1.1);
}



.case:hover{
	background: #9D9D9D;
}



input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 3.8px 3.8px 2.3px #000000, 0px 0px 3.8px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #000001;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 0, 0, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 3.8px 3.8px 2.3px #000000, 0px 0px 3.8px #0d0d0d;
  background: #484d4d;
  border-radius: 0px;
  border: 0px solid #000001;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 0, 0, 0.93);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #000001;
  border-radius: 0px;
  box-shadow: 3.8px 3.8px 2.3px #000000, 0px 0px 3.8px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #484d4d;
  border: 0px solid #000001;
  border-radius: 0px;
  box-shadow: 3.8px 3.8px 2.3px #000000, 0px 0px 3.8px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(255, 0, 0, 0.93);
  cursor: pointer;
  height: 25.6px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #484d4d;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #545a5a;
}






