.game {
	border: 1px solid black;
	max-width:600px;
	margin:10px;
	padding:10px;
	background-color: #e1e1e1;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.21); 
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.21);
}
.param {
	max-width:600px;
	margin:10px;
}

.entry {
	background-color:azure;
	font-size:20px;
	width: 100%;
	box-sizing: border-box;
}

.entry:disabled {
	background-color:dimgrey;
}

.score {
	float:left;
	font-size:15px;
	margin: 10px;
	padding: 5px;
	font-weight: bold;
}


p {
	user-select: none;
	font-size:25px;
	padding:10px;
	
}
button {
	float:left;
	font-size:15px;
	background-color:#e1e1e1;
	margin: 10px 0px;
	padding: 5px;
	font-weight: bold;
	border: 2px solid black;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.21); 
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.21);
	
}

button:hover {
	background-color:coral;
	
	
}




.correct {
	color:limegreen;
}

.incorrect {
	color:red;
	background-color:darksalmon;
}

.typed-cursor {
	display:inline-block;
	position:fixed;
	margin-left: -3px;
	margin-top: -2px;
	opacity: 1;
	font-size:25px;
	max-width:0px;
	font-weight:bold;
	transition: all 0.5s ease-in-out;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}