@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  src: local('Rochester'), local('Rochester-Regular'), url(http://fonts.gstatic.com/s/rochester/v6/nE50b4-SbQ54pks-8vOpl1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.container{
	width: 100%;
	position: absolute;
	text-align: center;
}

canvas{
	display: table;
	margin: 0 auto;
	background: #000000;
	border: 2px solid white;
	position: relative;
}

h1{
	display: table;
	margin: 0 auto;
	color: white;
	margin-top:25px;
	margin-bottom: 10px;
}
h2 {
	position: relative;
	font-size: 2em;
	color: black;
	margin: 0;
	text-shadow: 0 0 10px white;
	outline: rgb(255, 255, 255) none 0px;
	text-decoration: none;
}

button {
	display : table;
	margin: 0 auto;
	margin-top: 25px;
}


html {
	cursor: default;
	box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	text-decoration: none;
}

body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	background-color: #ECEFF1;
    background: #A7A9AC;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(.34, rgba(230,237,241,.05)),
        color-stop(.67, rgba(230,237,241,0)));
    -webkit-background-size: 5px 5px;
}

.button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.button
{
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}