body {
	width: 100%;
	background: #e1e1e1;
}
#main{
	border: 1px solid black;
	width: 1050px;
	height: 780px;
	background-image: url('img/backimg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	margin: auto;
	display: block;
	box-shadow:7px 7px 5px black;
}
h1 {
	color: white;
	text-align: left;
	margin-left: 225px;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 50px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

/* Barre d'action */

.byear, .bbuild, .bhunt, .bharv, .bmine{
	height: 75px;
	width: 175px;
	margin-top: 15px;
	margin-left: 25px;
	font-size: 40px;
	border-radius: 10px;
	outline: none;
	position: relative;
	font-family: Helvetica;
	font-weight: bold;
	box-shadow:7px 7px 5px black;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.byear:active, .bbuild:active, .bhunt:active, .bharv:active, .bmine:active{
	background-color: #ecffef;
	box-shadow:7px 7px 5px white;
}

/* Population */

table{
	margin: 25px 0 0 0;
	border-spacing: 25px;
	text-align: center;
	font-weight: bold;
	font-family: helvetica;
}
.population td{
	background-color: #e1e1e1;
	border: 1px solid black;
	width: 207px;
	font-size: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow:7px 7px 5px black;
	border-radius: 10px;
	outline: none;
	color: #116493;
	white-space: nowrap;
	overflow: hidden;
}
#npop, #nmen, #nwomen, #nchild, #npoplim, #nmeat, #nwood, #nstone, #nprodstone, #nprodwood, #nprodmeat, #nlvlmeat, #nlvlwood, #nlvlstone{
	color: red;
}

/* Ressources */

.ressource{
	margin-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #116493;
}
.nmeat, .nwood, .nstone{
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #116493;
	vertical-align: 35px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #e1e1e1;
	box-shadow:7px 7px 5px black;
	border-radius: 10px;
	outline: none;
}

/* travailleurs */

.prodressource{
	position: absolute;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
	margin: 0 0 0 350px;
	color: #116493;
	background-color: #e1e1e1;
	box-shadow:7px 7px 5px black;
	border-radius: 10px;
	outline: none;
	margin-left: 300px;
	margin-top: -67px;
	z-index: 90;
}

/* level travailleurs */

.lvlressource{
	position: absolute;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
	margin: 0 0 0 350px;
	color: #116493;
	background-color: #e1e1e1;
	box-shadow:7px 7px 5px black;
	border-radius: 10px;
	outline: none;
	margin-left: 420px;
	margin-top: -67px;
}

.lvlupressource{
	position: absolute;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
	margin: 0 0 0 350px;
	color: #116493;
	background-color: #e1e1e1;
	box-shadow:7px 7px 5px black;
	border-radius: 10px;
	outline: none;
	margin-left: 530px;
	margin-top: -67px;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.lvlupressource:active{
	background-color: #ecffef;
	box-shadow:7px 7px 5px white;
}

/* InfoBulle */

#info{
	border: 1px solid black;
	height: 627px;
	width: 1010px;
	z-index: 100;
	position: fixed;
	top: 120px;
	opacity: 0;
	visibility: hidden;
	padding: 20px;
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
	background-image: url('img/backinfo.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
h2{
	font-weight: bold;
	font-size: 40px;
}
#druide{
	position: relative;
}
.binfo{
	position: fixed;
	margin-left: 1000px;
	top: 735px;
	border: none;
	outline: none;
	background: transparent;
	z-index: 120;
	opacity: 0.7;
}
.binfo:hover{
	opacity: 1;
}
li{
	font-weight: bold;
}
#text{
	color: black;
	font-weight: normal;
}
