@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  src: local('Rochester'), local('Rochester-Regular'), url(http://fonts.gstatic.com/s/rochester/v6/nE50b4-SbQ54pks-8vOpl1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.container{
	width: 100%;
	position: absolute;
	text-align: center;
}

canvas{
	display: table;
	margin: 0 auto;
	background: #000000;
	border: 2px solid white;
	position: relative;
}

h1{
	display: table;
	margin: 0 auto;
	color: white;
	margin-top:25px;
}
h2 {
	position: relative;
	font-size: 2em;
	color: white;
	margin: 0;
	text-shadow: 0 0 10px white;
	outline: rgb(255, 255, 255) none 0px;
	text-decoration: none;
}

html {
	cursor: default;
	box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	text-decoration: none;
}

body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	background-color: #ECEFF1;
    background: #A7A9AC;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(.34, rgba(230,237,241,.05)),
        color-stop(.67, rgba(230,237,241,0)));
    -webkit-background-size: 5px 5px;
}


.titles {
	padding: 5px;
	transition: all 2s ease-in-out;
	position: relative;
	display: table;
	margin: 0 auto;
}

.titles h2 {
	padding: 10px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	cursor: pointer;
}

.titles h2::before,
.titles h2::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.titles h2::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.titles h2::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.titles h2:hover,
.titles h2:focus {
	color: #fff;
	text-shadow: 0 0 7px black;
}

.titles h2:hover::before,
.titles h2:focus::before,
.titles h2:hover::after,
.titles h2:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}