html{
	background-image: url("img/background.jpg");
	background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}

h1 {
	color: black;
	font-weight: bold;
	font-size: 32px;
	margin-left: 10px;
	margin-top: 15px;
	padding: 5px 10px 5px 10px;
	width: 400px;
	text-align: center;
}
h2{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	color: black;
}
h3 {
	font-size: 20px;
	padding-left: 15px;
}
#bmine{
	background: transparent;
	border: none;
	outline: none;
	transition: all 0.1s ease-in-out;
	position: absolute;
	z-index: 50;
	left: 90px;
	top: 170px;
}


/* MAIN */
#smithmenu, #villagemenu, #mainmenu{
	padding: 5px 15px 5px 15px;
}
#main {
	position: absolute;
	width: 450px;
	height: 850px;
	top: 8px;
	left: 15px;
	color: #2E00C5;
	background-image: url("img/backgroundwin.png");
	border: none;
}
.mainstats{
	font-weight: bold;
	padding: 5px 15px 5px 15px;
	font-size: 20px;
	position: relative;
}
#bopt, #binfo, #bstats{
	background: transparent;
	position: relative;
	border: 1px solid black;
	box-shadow: 3px 3px 3px 1px black;
	outline: none;
	margin-left: 10px;
	margin-top: 0;
	padding: 3px 3px 0 3px;
	text-align: center;
	transition: all 0.1s ease-in-out;
}
#zoption, #zinfo, #zstats{
	position: absolute;
	outline: none;
	visibility: hidden;
	text-align: justify;
	color: black;
	font-size: 20px;
	font-weight: bold;
	opacity: 0;
	left: -3px;
	top: 150px;
	height: 430px;
	width: 390px;
	padding: 10px 30px 10px 30px;
	background-image: url("img/backgroundwinsmall.png");
	background-size: contain;
	background-repeat: none;
	z-index: 100;
	transition: all .5s ease-in-out;
}
#checkbox{
	float: right;
	position: relative;
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
}


/*ButtonWindows */

#divbwindows{
	position: relative;
	width: 200px;
	float: right;
	margin-right: -50px;
	margin-top: -380px;
}
#bsmith{
	background: transparent;
	outline: none;
	border: none;
	transition: all 0.1s ease-in-out;
}
#bvillage{
	background: transparent;
	outline: none;
	margin-top: 10px;
	border: none;
	transition: all 0.1s ease-in-out;
}


/* SMITH */

#smith{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 450px;
	height: 850px;
	top: 8px;
	left: 480px;
	color: #2E00C5;
	background-image: url("img/backgroundwin.png");
	border: none;
	transition: all .5s ease-in-out;
}

#blevelrockup, #blevelrockdown, #bpickdurability, #bpickpower, #brepair{
	outline: none;
	font-size: 20px;
	color: #2E00C5;
	font-weight: bold;
	text-align: center;
	float: right;
	padding: 0 5px 0 5px;
	margin-right: 15px;
	margin-top: -5px;
	background: transparent;
	width: auto;
	height: 32px;
	box-shadow: 2px 2px 2px 1px black;
	transition: all 0.1s linear;
}
#blevelrockup, #blevelrockdown{
	width: 32px;
}

#costbpickpower, #costbpickdurability, #costbpickrepair, #lvlrockmenu{
	color: black;
	transition: all 0.4s ease-in-out;
}


/* VILLAGE*/

#village{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 450px;
	height: 850px;
	top: 8px;
	left: 945px;
	color: #2E00C5;
	border: none;
	background-image: url("img/backgroundwin.png");
	transition: all .5s ease-in-out;
}
#bstonetosellall, #bstonetosellx10, #bstonetosellx100, #bstonetosell, #bworker, #bminefacility, #blvlworker{
	outline: none;
	font-size: 20px;
	color: #2E00C5;
	font-weight: bold; 
	text-align: center;
	float: right;
	padding: 0 5px 0 5px;
	margin-top: -5px;
	margin-right: 15px;
	background: transparent;
	width: auto;
	height: 32px;
	box-shadow: 2px 2px 2px 1px black;
	transition: all 0.1s ease-in-out;
}
#nstonetosell, #nstonetosellgold, #maxworker, #lvlminefacility, #costbworker, #costlvlminefacility, #lvlworker, #costlvlworker{
	color: black;
	transition: all 0.4s linear;
}

/*TOOL TIP*/

.tooltip{
	visibility: hidden;
	background-color: black;
	border: 1px solid black;
	box-shadow: 3px 3px 3px 1px black;
	padding: 5px 5px 5px 5px;
	z-index: 150;
	text-align: justify;
	height: auto;
	opacity : 0;
	width: auto;
	color: white;
	position: fixed;
	top: 500px;
	left: 500px;
	transition: opacity 0.5s ease-in-out;
}

/* ANIMATION */
#bmine:hover{
	cursor: none;
}
#bmine:active{
	transform: scale(0.93);
}
#bsmith:hover, #bvillage:hover{
	transform: scale(1.1);
	cursor: pointer;
}
#bsmith:active, #bvillage:active{
	transform: scale(1.05)
}
#bstonetosellall:hover, #bstonetosellx10:hover, #bstonetosellx100:hover, #bstonetosell:hover, #bpickdurability:hover, #bpickpower:hover, #brepair:hover, #blevelrockup:hover, #blevelrockdown:hover, #bopt:hover, #binfo:hover, #bstats:hover, #bworker:hover, #bminefacility:hover, #blvlworker:hover{
	box-shadow: 2px 2px 2px 1px #2E00C5;
	cursor: pointer;
}
#bstonetosellall:active, #bstonetosellx10:active, #bstonetosellx100:active, #bstonetosell:active, #bopt:active, #binfo:active, #bstats:active, #blevelrockup:active, #blevelrockdown:active, #bpickdurability:active, #bpickpower:active, #brepair:active, #bworker:active, #bminefacility:active, #blvlworker:active{
	box-shadow: 2px 2px 2px 1px orange;
	transform: scale(1.1);
}




.pickaxe{
	position: absolute; 
	visibility: hidden;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: .2s;
	-webkit-animation-timing-function: linear;
	transform-origin:40% 100%;
	-ms-transform-origin:40% 100%; /* IE 9 */
	-webkit-transform-origin:40% 100%; /* Safari and Chrome */
	-moz-transform-origin:40% 100%; /* Firefox */
	-o-transform-origin:40% 100%; /* Opera */
	pointer-events: none;
	z-index: 100;
}
@-webkit-keyframes rotate {
	50% {
		-webkit-transform: rotate(-65deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
