body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h2 {
	cursor: pointer;
 }

.container {
	position:absolute;
	z-index: 5;
}

#cvs {
	position: absolute;
	z-index: 4;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 200px;
  margin: 17.5px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 3.3px;
  border: 0px solid #000101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 3px solid #000000;
  height: 40px;
  width: 25px;
  border-radius: 10px;
  background: #ffa400;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 3.3px;
  border: 0px solid #000101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 3px solid #000000;
  height: 40px;
  width: 25px;
  border-radius: 10px;
  background: #ffa400;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000101;
  border-radius: 6.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000101;
  border-radius: 6.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 3px solid #000000;
  height: 40px;
  width: 25px;
  border-radius: 10px;
  background: #ffa400;
  cursor: pointer;
  height: 5px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #0d0d0d;
}
